<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a href="../">
            <img src="https://i.ibb.co/4Fx6zTT/logo-Nuevo-negro.png" width="50px" alt="logo"
                class="d-inline-block align-text-top me-3 header__img" />
        </a>
    </div>
    <div class="d-flex collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav align-items-center header__lista">
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="../products">Productos</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="../products/realtimeproducts">Upload</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="../chat">Chat</a>
            </li>
            <li class="nav-item ms-3 me-3 header__item">
                <a class="nav-link" href="./65e6751b34e6b71589b79b08">Carrito</a>
            </li>
        </ul>
    </div>
</nav>

<h1 class="text-center m-5">Cart</h1>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    {{>card}}
</div>

{{>footer}}